{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ideaUp.css' %}">
    <script src="https://kit.fontawesome.com/fc13d61e87.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+Double+Pica" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>ideaup</title>
</head>
<body>
        {% include 'nav.html' %}

        <div class="logo-container">
            <i class="fa-solid fa-water" onclick="shownav();"></i>
            <p><a href="{% url 'home' %}">LOGO</a></p>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="{% url 'mypage' %}" class="MP">My Page</a>
        </div>

        <div class="idea-main">
            <div class="i-title">Idea Note</div>
            <div class="i-search"><i class="fa-solid fa-magnifying-glass"></i>search ...</div>
        </div>

        <div class="idea-content">
            
            {% for post in posts %}
            <a href="">
                <div class="MemoDiv">
                    {{ post.content }}
                <div class="MemoT">{{ post.title }}</div>
                <div class="MemoD">{{ post.created | date:'Y.m.d' }}</div>
                </div>
            </a>
            {% endfor %}
            
        </div>

        <div class="addIdea">
            <i class="fa-solid fa-file-pen" onclick="modalOn();" ></i>
        </div>
    

        <div id="modal2" class="modal-overlay">
            <div class="modal-window" id="acamodal">
                <i class="fa-solid fa-x" id="modalX" onclick="modalOff();"></i>
                <div class="title">Upload</div>
                <div class="contents">
                    <form class="up-c" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="uploadTitle_div">
                            {{ form.title }}
                        </div>
                        <div class="uploadTextarea_div">
                            {{ form.content }}
                        </div>

                    
                    </form>
                    <input class="c" id="uploadBtn" type="submit" value="완료"></input>
                    <button class="close-area" id="closeaca">완료</button>
                </div>
                
            </div>
        </div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>