{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script src="https://kit.fontawesome.com/fc13d61e87.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+Double+Pica" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>MyPage</title>
</head>
<body>
    <div class="container2">
        {% include 'nav.html' %}
    
    
            <div class="logo-container">
                <i class="fa-solid fa-water" onclick="shownav();"></i>
                <p><a href="{% url 'home' %}">SEA</a></p>
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="{% url 'logout' %}" class="LGOUT">LogOut</a>
            </div>
    
        <div class="MP-main">
            <div class="mp-title">My Page</div>
            
            <img class="self" src="{% static 'img/profile.jpg' %}">
            <div class="whitebg">
                <div class="myname">나덕우</div>
                <div class="intro">dive into founding</div>
                <div class="jandi">Contribution</div>
                <div class="jandihaaa"></div>

                <div class="myC-div">
                    <p class="myCha">Challenge</p>
                        <div class="myClist">
        
                            
                            {% for post in posts %}
                            <a href="{% url 'detail' post.id %}">
                                <div class="chaDiv">
                                <img src="{{ post.image.url }}">
                                <div class="cha-tag">
                                    {% if post.tags.exists %}
                                    {% for tag in post.tags.all %}
                                        #{{ tag | truncatechars:7 }}
                                    {% endfor %}
                                    {% endif %}</div>
                                <div class="cha-t">{{ post.title | truncatechars:13 }}</div>
                                <div class="cha-date">{{ post.date | date:'Y.m.d' }}까지</div>
                                </div>
                            </a>
                            {% endfor %}
        
                           
        

        
                        </div>
            </div>
        </div>
    </div>


<script src="{% static 'js/main.js' %}"></script>
</body>
</html>