{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/fc13d61e87.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+Double+Pica" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    
    <title>main</title>
</head>
<body>

<div class="navbar">
    <i class="fa-solid fa-x" onclick="hidenav();"></i>

    <div class="profile"></div>
    <div class="name">My Name</div>
    <div class="mypage"><a href="{% url 'mypage' %}">My Page</a>
    <img class="duck" src="{% static 'img/duck.png' %}">
    </div>

    <div class="nav-2">
        <ul>
            <li><i class="fa-solid fa-droplet"></i><a href="{% url 'ideaNote' %}">Idea Note</a></li>
            <li><i class="fa-solid fa-droplet"></i><a href="{% url 'makecrew' %}">Making Crew</a></li>
            <li><i class="fa-solid fa-droplet"></i><a href="">Challenge</a></li>
            <li><i class="fa-solid fa-droplet"></i><a href="">Information</a></li>
        </ul>
        <div class="line">
            <p>이용약관</p>
            <p>개인정보처리방침</p>
            <p>Team.IM HERO</p>
        </div>


    </div>

</div>

</body>
</html>
