{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+Double+Pica" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />
    <script src="https://kit.fontawesome.com/fc13d61e87.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>signup</title>
</head>
<body>
        <div id="logo-line">
            <div class="logo-container">
                <p><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" width="40px" height="0px"></a></p>
            </div>
        </div>

        <div class="signup">
            <i class="fa-solid fa-x"></i>
            <div class="signup-t">SignUp</div>
        </div>

        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
        <div class="choice">
            본인의 위치에 따라 mentor와 mentee 중<br>  하나를
            선택해 주세요
        </div>

        <div class="choiceM">
            <img src="{% static 'img/Rectangle 4171.png' %}">
            <img src="{% static 'img/Rectangle 4172.png' %}">
            <br>

            <div class="dd">
                 {{ form.is_mentor }}
            </div>
           
            
            
            <br>
            <br>
            <br>
            <br>
        </div>
        <form>
            <p>이름</p>{{ form.name }} 
            <br>
           
            <br>
            <p>이메일</p>{{ form.email }} 
            <br>
           
            <br>
            <p>아이디</p>{{ form.username }} 
            <br>
            
            <br>
            <p>비밀번호</p>{{ form.password1 }} 
            <br>

            <input class="singup-btn" id="uploadBtn" type="submit" value="sign up"></input>

        </form>

        
        
</body>
</html>