{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/challenge.css' %}">
    <script src="https://kit.fontawesome.com/fc13d61e87.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+Double+Pica" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>Challenge</title>
</head>
<body>
    
        {% include 'nav.html' %}

        <div class="logo-container">
            <i class="fa-solid fa-water" onclick="shownav();"></i>
            <p>SEA</p>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a  href="" class="MP">My Page</a>
        </div>

        <div class="cha-main">
            <div class="cha-title">Challenge</div>
            <div class="cha-search"><i class="fa-solid fa-magnifying-glass"></i>search ...
        </div>

    <div class="tag-btn">
        
            {% for c in all_category %}  
            <button><a class="tag-content" style="color:black; text-decoration: none;"href="{{ c.get_absolute_url }}">{{ c.name }}</a> </button>
            {% endfor %}
    </div>

    <div class="gotorank">
        <a href="{% url 'rank' %}"><button style="float: right; border: none;
    margin-top: -35px;
    margin-right: 10px;
    width: 70px;
    height: 42px;
    background: #DAEDFF;
    border-radius: 20px;">RANK</button></a>
    </div>
        <div class="cha-content">
            
            <br>
        <div class="pro">

            {% for post in posts %}
                    <a href="{% url 'detail' post.id %}">
                        <div class="chaDiv">
                        <img src="{{ post.image.url }}">
                        <div class="cha-tag">
                            {% if post.tags.exists %}
                                {% for tag in post.tags.all %}
                                    #{{ tag | truncatechars:7 }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="cha-t">{{ post.title | truncatechars:13 }}</div>
                        <div class="cha-date">{{ post.date | date:'Y.m.d' }}까지</div>
                        </div>
                    </a>
            {% endfor %}

            {% if post_list.exists %}
                {% for p in post_list %}
                <a href="">
                    <div class="chaDiv">
                            <img src="{{ p.image.url }}" width="300px" height="300px">
                        <div class="cha-tag">
                            {% if p.tags.exists %}
                                {% for tag in p.tags.all %}
                                    #{{ tag | truncatechars:7 }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="cha-t">{{ p.title | truncatechars:13 }}</div>
                        <div class="cha-date">{{ p.date | date:'Y.m.d' }}까지</div>
                        
                        <div class="cha-tag">
                            {% if p.category.exists %}
    
                                {% for category in p.category.all %}
                                <a href="{{ category.get_absolute_url }}"><span class="badge bg-light">#{{ category }} </span></a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
        
            </div>
        </div>
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>