@import 'total.css';


.cha-title{

    width: fit-content;
    height: 22px;
    margin: 0 auto;
    margin-top: 75px;
    font-family: 'IM FELL Double Pica';
    font-weight: 400;
    font-size: 48px;
    line-height: 22px;
    color: #000000;
    background: url('../img/donut.jpg');
}

.cha-search
{
    font-family: 'Work Sans';
    color: black;
    font-size: 14px;
    line-height: 44px;
    background: #F4F4F4;
    background-size: auto ;
    opacity: 80%;
    width: 303px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 24px;
}

.cha-main .fa-magnifying-glass{
    margin-left: 15px;
    margin-right: 10px;
}

.cha-content a{
    text-decoration: none;
    color: #000000;
}



    /* 데스크탑 */
    

    .chaDiv{
        width: 14vw;
        height: 32vh;
        background: #DDEBFF;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-right:30px ;
        margin-left: 30px;
    }
    
    .cha-content img{
        width: 12vw;
        height: 14vh;
        margin-top: 10px;
        margin-left: 18px;
        

        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 16px;
        line-height: 42px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }


.pro{
    display: flex;
    flex-direction: row;
    overflow-x:scroll ;
}

.com{
    display: flex;
    flex-direction: row;
    overflow-x:scroll ;
}

.sen{
    display: flex;
    flex-direction: row;
    overflow-x:scroll ;
}


.tag-btn button{
    border: none;
    margin-top: 10px;
    width: 70px;
    height: 42px;
    margin-left: 20px;
    background: #DAEDFF;
    border-radius: 20px;
}

.tag-btn button:nth-child(1){
    margin-left: 640px;
}