@import 'total.css';



/*배너부분 */

.outer {
    width: 100%;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
}

.inner-list {
    display: flex;
    transition: .5s ease-out;
    width: 100%;
    height: 65vh;
}

.inner{
    margin-top: 20px;
    width: 100%;
    height: 65vh;
    background:url('/static/img/sea2.jpg');
    background-size: cover;
    overflow: auto;
}

#banner-2{
    background-image: url('/static/img/banner2.jpg');
    background-size: cover;
}

#banner-3{
    background-image: url('/static/img/banner3.jpg');
    background-size:cover;
}
.inner p:nth-child(1){
    position: absolute;
    width: fit-content;
    height: 72px;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 22px;
    /* or 88% */
    color: #000;
}
.s{
    font-size: 75px;
    font-weight: 400;
}
.inner p:nth-child(2){
    font-family: 'IM FELL Double Pica';
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    clear: right;
    width: fit-content;
    height: fit-content;
    float: right;
    margin-top: 250px;
    margin-right: 50px;

}
.logo-w{
    width: 300px;
    height: 400px;
    display: inline;
    float: left;
    margin-top: -3%;
}

.intro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 2%;
    
}
.intro1{
    width: 90%;
    height: 300px;
    margin-left: 2vw;
    
    padding-right: 2%;
    background: rgba(5, 123, 151, 0.17);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}
.it-t{
    padding-left: 5%;
    height: 24px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;


    color: #000000;
}
.it-c1{
    margin: 0;
    padding: 0;
    margin-top: 18%;
    display: inline;
    float: left;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    font-size: 17px;
    line-height: 22px;
    color: #000000;

    text-align: right;
}

.it-c2{
    margin: 0;
    padding: 0;
    margin-top: 6%;
    display: inline;
    float: left;
    box-sizing: border-box;
    padding-left: 5%;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    font-size: 17px;
    line-height: 22px;
    color: #000000;

    text-align: left;
}
.intro-ser{
    width: fit-content;
    height: 22px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 22px;  
    margin-left: 5vw;
    margin-top: 4vw; 
    margin-bottom: 2vw; 
    color: #000000;

}
.button-left{
    position: relative;
    top: -35%;
    left:0.6vw;

}

.button-right{
    position: relative;
    top: -35%;
    left: 97.8vw;
}


/*배너 아래 버튼 부분 */
.button-list{
    width: 30px;
    height: 30px;
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 15px;
}



/*아래 dive 부분 */
.main-container{
    height: 500px;
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: 100px;

    text-align: center;

}
.content-nav{

    background: url('/static/img/usethis.jpg');
    width: 16vw;
    height: 14vw;
    border-radius: 15px;
    background-size: cover;

}

.li2 li{
    list-style: none;
    float: left;
    margin-left: 50px;
}

.li3{
    clear: left;
}
.li3 li{
    list-style: none;
    float: right;
    margin-left: 50px;
}

#dive{
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 330%;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
    

#m1{
margin-left: 80px;
    width: fit-content;
    height: fit-content;
}
#m2{
    
    width: fit-content;
    margin-left:60px;
    height: fit-content;
}
#m3{
    margin-top: 70px;
    width: fit-content;
    height: fit-content;
    margin-right:110px;
}
#m4{
    margin-top: 70px;
    width: fit-content;
    margin-right:60px;
    height: fit-content;

}

.fa-droplet{
    color:#073a6d;
}


.main-container a{
    color: black;
    text-decoration: none;
}

.main-container a:hover{
    color: #073a6d;
}



#dive:hover .hide{
    display: block;
}

/*nav바*/

.navbar{
    display: none;
}

.info22{
    margin-top: 30px;
    padding-left: 70px;
}
.info33{
    margin-top: 100px;
    padding-right: 150px;
}