@import 'total.css';

.mp-title{

    width: 194px;
    height: 22px;
    margin: 0 auto;
    margin-top: 75px;
    font-family: 'IM FELL Double Pica';
    font-weight: 400;
    font-size: 48px;
    line-height: 22px;
    color: #000000;
}
.container2{
    margin: 0 auto;
    background-color: #7CA9E3;
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    margin-top: -20px;
}

.self{
    width: 140px;
    display: block;
    height: 140px;
    margin: 0 auto;
    margin-top: 40px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
}

.whitebg{
    background-color: white;
    height:45%;
    margin-top: -70px;
}

.myname{

    width: 100px;
    height: 36px;

    margin: 0 auto;
    padding-top: 80px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #000000;

}

.intro{

    width: 200px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
    color: #000000;
}

.jandi{
    width: 165px;
    height: 35px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 15%;

    color: #000000;
}

.jandihaaa{
    background-color: blanchedalmond;
    width: 65vw;
    height: 20vh;
    margin: 0 auto;
}

.myCha{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5%;

    margin-left: 6%;
    color: #000000;

}

.myC-div{
    overflow:visible;
    width: 80vw;
    height: 100vh;
    margin:  0 auto;
}

.myClist{
    overflow-x: scroll;
    flex-direction: row;
    display: flex;
    margin:1%;
    padding-bottom: 1%;
}

.chaDiv{
    width: 150px;
    height: 150px;
    background: #D0D0D0;
    border-radius: 4px;
    margin-right: 20px;
    padding: 2%;
}

@media screen and (max-width:1799px) {
    /* 데스크탑 */
    .chaDiv{
        width: 12vw;
        height: 30vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 100px;
        padding: 0;
    }
    
    .chaDiv img{
        width: 12vw;
        height: 15vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 16px;
        line-height: 42px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
    }
    
@media screen and (max-width:1280px) {
/* 타블렛 가로 */ 
.chaDiv{
    width: 13vw;
    height: 30vh;
    background: #ffffff;
    border: 1px solid #CFCFCF;
    margin-left: 100px;
    padding: 0;
}

.chaDiv img{
    width: 13vw;
    height: 15vh;
    border-bottom: 1px solid #CFCFCF;
}

.cha-tag{
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    padding-left: 2%;
    color: #7E7E7E;
    border-bottom: 1px solid #CFCFCF;
    
}

.cha-t{
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    padding-left: 2%;
    color: #000000;
    border-bottom: 1px solid #CFCFCF;
}

.cha-date{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;

    color: #000000;

}

}
@media screen and (max-width:899px) {
    .chaDiv{
        width: 30vw;
        height: 20vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 100px;
        padding: 0;
    }
    
    .chaDiv img{
        width: 33vw;
        height: 13vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 13px;
        line-height: 42px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
}
@media screen and (max-width:599px) {
    /* 모바일 세로 */
    .chaDiv{
        width: 30vw;
        height: 20vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 100px;
        padding: 0;
    }
    
    .chaDiv img{
        width: 35vw;
        height: 11vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 13px;
        line-height: 42px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
}

@media screen and (max-width:420px) {
    /* 모바일 세로 */
    .chaDiv{
        width: 38vw;
        height: 20vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 30px;
        padding: 0;
    }
    
    .chaDiv img{
        width: 38vw;
        height: 10vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        text-align: center;

        color: #000000;

    }
}


.myC-div a{
    text-decoration: none;
}
